<div class="container text-center">
	<% if notice %>
	  <div class="alert alert-success" role="alert">
	    <p id="notice"><%= notice %></p>
	  </div>
	<% end %>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<p>
	  <strong>Username:</strong>
	  <%= @user.username %>
	</p>

	<p>
	  <strong>Admin:</strong>
	  <%= @user.admin %>
	</p>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</div>
