<div class="container">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1>Customers</h1>

  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>District</th>
        <th>State</th>
        <th>Postal Code</th>
        <th colspan="4">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.mobile %></td>
          <td><%= customer.email %></td>
          <td><%= customer.address.address_1 %></td>
          <td><%= customer.address.address_2 %></td>
          <td><%= customer.address.district %></td>
          <td><%= customer.address.state %></td>
          <td><%= customer.address.postal_code %></td>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Customer', new_customer_path %>
</div>
